* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
input[type="submit"] {
  font-family: "Merriweather", serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 900; }

html {
  font-size: 62.5%; }

.input-form {
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: stretch; }
  .input-form__title {
    padding: 25px;
    background: #262626;
    color: white;
    text-align: center;
    width: 100%;
    /* font-weight: 700; */
    font-size: 3.5rem;
    border-radius: 5px; }
  .input-form__form-item {
    margin-top: 2rem; }
  .input-form__label {
    font-size: 1.75rem;
    color: grey; }
  .input-form__text-input {
    margin-top: 0.5rem;
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px grey solid; }
    .input-form__text-input:focus {
      border: 1px #262626 solid;
      box-shadow: 0px 0px 3px 0px #ffe100; }
  .input-form__submit {
    margin-top: 3rem;
    width: 100%;
    font-size: 2rem;
    padding: 1rem 0;
    background: #262626;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px; }
    .input-form__submit:hover {
      color: #ffe100;
      background: #262626; }

.container {
  max-width: 400px;
  margin: auto; }

.flex {
  display: flex;
  flex-wrap: wrap; }

.result {
  height: 100vh;
  flex-direction: column;
  justify-content: center; }
  .result__title {
    padding: 25px;
    background: #262626;
    color: white;
    text-align: center;
    width: 100%;
    /* font-weight: 700; */
    font-size: 3.5rem;
    border-radius: 5px; }
  .result__optimize-text-block {
    padding-top: 5rem;
    justify-content: space-between; }
  .result__optimize-before, .result__optimize-after, .result__gas-used-left, .result__gas-used-right {
    font-size: 1.75rem;
    color: grey; }
  .result__optimize-number-left, .result__optimize-number-right {
    font-size: 5rem;
    font-weight: 700;
    color: #262626; }
  .result__optimize-after, .result__optimize-number-right, .result__gas-used-right {
    text-align: right; }
  .result__back-button {
    margin-top: 3rem;
    width: 100%;
    font-size: 2rem;
    padding: 1rem 0;
    background: #262626;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    margin-top: 5rem;
    color: #262626;
    background: white;
    border: 1px #262626 solid;
    text-align: center; }
    .result__back-button:hover {
      border: 1px #ffe100 solid; }
